# Terraform
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry
*.pyc
__pycache__/
.ansible/

# General
.DS_Store
.env
.venv
venv/
*.swp
*.swo
*~
.idea/
.vscode/
*.log
